[Desktop Entry]
Version=1.0
Type=Application

Name=Memorize
Comment=Study flashcards
Categories=Education;GNOME;

Icon=io.github.david_swift.Flashcards
Exec=Flashcards
Terminal=false